# Membentuk kolom bertipe datetime dari beberapa kolom lain pada Data Frame

In [1]:
import pandas as pd #mengimport pandas sebagai np

print(pd.__version__) #menampilkan pandas versi

1.1.3

## Membuat Data Frame

In [5]:
data = {'day':[6, 2, 15 ,27, 12], 
        'month':[1, 2, 3, 5, 7], 
        'year':[2000, 2009, 2011, 2013, 2017]}

df = pd.DataFrame(data)
df

   day  month  year
0    6      1  2000
1    2      2  2009
2   15      3  2011
3   27      5  2013
4   12      7  2017

## Membentuk Kolom bertipe datetime

In [6]:
df['penaggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penaggalan
0    6      1  2000 2000-01-06
1    2      2  2009 2009-02-02
2   15      3  2011 2011-03-15
3   27      5  2013 2013-05-27
4   12      7  2017 2017-07-12

In [7]:
df.dtypes

day                    int64
month                  int64
year                   int64
penaggalan    datetime64[ns]
dtype: object