# Konversi Nilai Numerik ke dalam kategori pada Data Frame

## Import modules

In [5]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Mepersiapkan Data Frame

In [6]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0     1
1    91
2    58
3     3
4    27
5    62
6    81
7    60
8     3
9    13

## Pengelempokkan nilai numerik dalam beberapa kategori menggunakan cut()

- bins ialah untuk jangkauan usia
- Labels berisi kelompok usia
- pd.cut untuk mengkonversi nilai numerik usia dan yang dicut adalah df['usia'] dengan bins sebagai pembatas dan labels untuk kelompok usianya

In [7]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'Manula'])
df

   usia kelompok_usia
0     1          anak
1    91        Manula
2    58        dewasa
3     3          anak
4    27        dewasa
5    62        dewasa
6    81        Manula
7    60        dewasa
8     3          anak
9    13          anak