# Resampling Pada Data Deret Waktu (time series data)

## Import Modules

In [1]:
import pandas as pd #mengimport pandas sebagai pd
import numpy as np #mengimport pandas sebagai np

print(pd.__version__) #menampilkan pandas versi
print(np.__version__) #menampilkan numpy versi

1.1.3
1.19.2

## Mempersiapkan Data Frame

In [2]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     col1  col2
2000-01-01 00:00:00     7     7
2000-01-01 01:00:00     3     6
2000-01-01 02:00:00    18     9
2000-01-01 03:00:00     3    18
2000-01-01 04:00:00    19    12
...                   ...   ...
2000-12-30 19:00:00     1     6
2000-12-30 20:00:00    14     8
2000-12-30 21:00:00     4     5
2000-12-30 22:00:00     1     3
2000-12-30 23:00:00    13     9

[8760 rows x 2 columns]

## Resampling data menggunakan interval monthly
- mengubah interval waktunya menjadi bulan ('M')

In [3]:
df.resample('M')['col1'].sum().to_frame()

            col1
2000-01-31  7535
2000-02-29  7028
2000-03-31  7272
2000-04-30  7286
2000-05-31  7482
2000-06-30  7300
2000-07-31  7552
2000-08-31  7320
2000-09-30  7038
2000-10-31  7519
2000-11-30  7238
2000-12-31  7270

## Resampling data menggunakan interval daily
- mengubah interval waktunya menjadi daily/perhari ('D')

In [4]:
df.resample('D')['col1'].sum().to_frame()

            col1
2000-01-01   255
2000-01-02   249
2000-01-03   270
2000-01-04   252
2000-01-05   209
...          ...
2000-12-26   243
2000-12-27   270
2000-12-28   228
2000-12-29   264
2000-12-30   213

[365 rows x 1 columns]