# Membuat Data Frame dari Hasil Seleksi Spreadsheet

## Import Modules
- Import modules dan menampilkan versi modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

## Membentuk Data Frame dari Hasil Seleksi Spreadsheet
- Untuk membentuk data dari hasil seleksi spreadsheet yaitu tinggal seleksi dan dan copy. Lalu panggil `df = pd.read_clipboard()` dan run

In [6]:
df = pd.read_clipboard()
df

      NIM   Nama
0  567841   Asep
1  567842   Ucup
2  567823  Sanda
3  567832   Adje