# Deteksi Dan Penangan Kolom Dengan Tipe Data Beragam (Mixed Data Type)

## Import Modules
- Import modules dan menampilkan versi modules

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

## Mempersiapkan Data Frame
- Data Frame Dictionary yang terdiri dari dua kolom yaitu nama dan IPK
- Pada IPK terdapat tipe data yang beragam

In [9]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

## Deteksi dan Penanganan Kolom Dengan Tipe Data Beragam (Mixed Data Types)

-  Untuk mengetahui tipe data dari nama dan ipk.

In [12]:
df.dtypes

nama     object
ipk     float64
dtype: object

- `.apply(type)` Untuk Medeteksi Mixed Data Types.

In [13]:
df['ipk'].apply(type)

0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
3    <class 'float'>
4    <class 'float'>
Name: ipk, dtype: object

- `.value_counts()` untuk membuat summary/ringkasan dari output ini.

In [5]:
df['ipk'].apply(type).value_counts()

<class 'str'>      2
<class 'int'>      2
<class 'float'>    1
Name: ipk, dtype: int64

- `.astype(float)` untuk menseragamkan tipe data.

In [10]:
df['ipk'] = df['ipk'].astype(float)

In [11]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64