# Membalik Urutan Kolom Dan Baris Pada Data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [7]:
rows = 7
col = 6
cols = tuple('ABCDEF')

df = pd.DataFrame(np.random.randint(1, 10, size=(rows, col)),columns=cols)

df

   A  B  C  D  E  F
0  5  8  4  8  7  2
1  8  5  1  2  5  6
2  4  4  4  7  4  7
3  5  8  4  3  7  8
4  1  2  5  4  1  8
5  5  3  1  3  2  7
6  3  8  4  1  9  4

## Membalikan urutan kolom

In [12]:
df.loc[:, ::-1]

   F  E  D  C  B  A
0  2  7  8  4  8  5
1  6  5  2  1  5  8
2  7  4  7  4  4  4
3  8  7  3  4  8  5
4  8  1  4  5  2  1
5  7  2  3  1  3  5
6  4  9  1  4  8  3

## Membalikan urutan baris

In [14]:
df.loc[::-1]

   A  B  C  D  E  F
6  3  8  4  1  9  4
5  5  3  1  3  2  7
4  1  2  5  4  1  8
3  5  8  4  3  7  8
2  4  4  4  7  4  7
1  8  5  1  2  5  6
0  5  8  4  8  7  2

## Membalikan urutan baris dan penyusuaian ulang index

In [15]:
df.loc[::-1].reset_index(drop=True) #membalikkan urutan baris dan penyesuaian ulang index

   A  B  C  D  E  F
0  3  8  4  1  9  4
1  5  3  1  3  2  7
2  1  2  5  4  1  8
3  5  8  4  3  7  8
4  4  4  4  7  4  7
5  8  5  1  2  5  6
6  5  8  4  8  7  2