# Membalik Urutan Kolom Dan Baris Pada Data Frame

In [8]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Membuat Data

In [11]:
rows = 5
col = 6
cols = tuple('ABCDEF')

df = pd.DataFrame(np.random.randint(1, 10, size=(rows, col)),columns=cols)

df

   A  B  C  D  E  F
0  2  7  6  6  7  5
1  3  4  9  7  8  1
2  7  7  8  1  4  3
3  6  6  5  7  5  2
4  6  3  6  9  8  2

## Membalikan urutan kolom

In [12]:
df.loc[:, ::-1]

   F  E  D  C  B  A
0  5  7  6  6  7  2
1  1  8  7  9  4  3
2  3  4  1  8  7  7
3  2  5  7  5  6  6
4  2  8  9  6  3  6

## Membalikan urutan baris

In [13]:
df.loc[::-1]

   A  B  C  D  E  F
4  6  3  6  9  8  2
3  6  6  5  7  5  2
2  7  7  8  1  4  3
1  3  4  9  7  8  1
0  2  7  6  6  7  5

## Membalikan urutan baris dan penyusuaian ulang index

In [14]:
df.loc[::-1].reset_index(drop=True) #membalikkan urutan baris dan penyesuaian ulang index

   A  B  C  D  E  F
0  6  3  6  9  8  2
1  6  6  5  7  5  2
2  7  7  8  1  4  3
3  3  4  9  7  8  1
4  2  7  6  6  7  5