# Memeriksa Kesamaan Antar Kolom  Pada Data Frame

In [10]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Membuat Data Frame

In [11]:
data = {'A':[15, 16, 19, np.nan, 17],
        'B':[15, 16, 19, np.nan, 17]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  16.0  16.0
2  19.0  19.0
3   NaN   NaN
4  17.0  17.0

In [19]:
data1 = {'A':[14, 16, 18, np.nan, 20],
         'B':[15, 17, 19, np.nan, 21]}

dfa = pd.DataFrame(data1)
dfa

      A     B
0  14.0  15.0
1  16.0  17.0
2  18.0  19.0
3   NaN   NaN
4  20.0  21.0

## Mengenal Panda Series

In [20]:
df['A']
#Series

0    15.0
1    16.0
2    19.0
3     NaN
4    17.0
Name: A, dtype: float64

In [21]:
type(df['A'])

pandas.core.series.Series

In [22]:
type(df)

pandas.core.frame.DataFrame

## Memeriksa dengan operator ==

In [23]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [24]:
dfa['A'] == dfa['B']

0    False
1    False
2    False
3    False
4    False
dtype: bool

## Memeriksa dengan method equals()

In [25]:
df['A'].equals(df['B'])

True

In [26]:
dfa['A'].equals(dfa['B'])

False

## Memeriksa antar dua Data Frame

In [27]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [30]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True

In [31]:
df == dfa

       A      B
0  False   True
1   True  False
2  False   True
3  False  False
4  False  False