# Seleksi kolom dan baris pada Data Frame menggunakan loc

In [1]:
import pandas as pd #mengimport pandas sebagai pd
import numpy as np #mengimport pandas sebagai np

print(pd.__version__) #menampilkan pandas versi
print(np.__version__) #menampilkan numpy versi

1.1.3
1.19.2

## Persiapan Data Frame

In [3]:
n_rows = 8
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   2   4  10  19   2
1   4  18   2   1   5
2   1  18   2  12  13
3  16  10  12  10   1
4  14   8   4   9   5
5   2   1  11  16   9
6  16   7   4  15   4
7   3  14  19   4   1

## Menyeleksi kolom dan baris dengan loc

In [9]:
df.loc[[0,5,7], ['C','D']]

    C   D
0  10  19
5  11  16
7  19   4

## Menyeleksi baris dengan kondisi

In [10]:
df.loc[df['B']>5, ['A','C','E']]

    A   C   E
1   4   2   5
2   1   2  13
3  16  12   1
4  14   4   5
6  16   4   4
7   3  19   1

## Slicing Data Frame dengan loc

In [13]:
df.loc[2:5, 'C':'D']

    C   D
2   2  12
3  12  10
4   4   9
5  11  16