# UTC dan Konversi Zona Waktu (Time Zone)

In [ ]:
import pandas as pds

print(pd.__version__)

In [ ]:
s = pd.Series(range(1591683521, 1592201921, 3600))
s = pd.to_datetime(s, unit='s')
s.head()

In [ ]:
s = s.dt.tz_localize('UTC')
s.head()

In [ ]:
s = s.dt.tz_convert('Asia/Jakarta')
s.head()

In [ ]:
s = s.dt.tz_convert('Australia/Hobart')
s.head()