# Akses Nilai Variabel Pada `query()`

## Import Modules
- Import modules dan menampilkan versi modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Mempersiapkan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   7  19  18  13  12
1  11  18   5   5   4
2   4  17   9  18   5
3  18   2   7  19   3
4   7  14   9   6   8

## Akses Nilai Variabel Pada `query()`
- Menampilkan data dengan syarat kolom A diatas 7

In [9]:
df.query('A > 7')

    A   B  C   D  E
1  11  18  5   5  4
3  18   2  7  19  3

- Menghitung mean pada kolom A

In [10]:
rerata = df['A'].mean()
rerata

9.4

- Menampilkan data dengan syarat kolom A diatas hasil Mean

In [7]:
df.query('A > @rerata')

    A   B  C   D  E
1  11  18  5   5  4
3  18   2  7  19  3