# Menata Ulang Kolom Pada Data Frame

## Import Modules
- Import modules dan menampilkan versi modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Mempersiapkan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size = (n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  1  7  3  3  9
1  9  6  3  1  3
2  4  5  8  8  1
3  7  4  4  8  3
4  9  3  1  1  3

## Menata Ulang Penempatan Kolom

In [3]:
df[['D','C','A','E','B']]

   D  C  A  E  B
0  3  3  1  9  7
1  1  3  9  3  6
2  8  8  4  1  5
3  8  4  7  3  4
4  1  1  9  3  3

In [4]:
df

   A  B  C  D  E
0  1  7  3  3  9
1  9  6  3  1  3
2  4  5  8  8  1
3  7  4  4  8  3
4  9  3  1  1  3

In [5]:
df = df[['D','C','A','E','B']]
df

   D  C  A  E  B
0  3  3  1  9  7
1  1  3  9  3  6
2  8  8  4  1  5
3  8  4  7  3  4
4  1  1  9  3  3