# Seleksi Baris dengan `Between()`

## Import Modules
- Import modules dan menampilkan versi modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

## Mepersiapkan DataFrame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)
df

   A  B  C  D  E
0  4  8  1  9  3
1  9  9  8  6  2
2  7  3  2  4  6
3  7  5  8  2  5
4  1  1  4  6  6
5  6  3  5  7  5
6  1  3  2  8  9
7  5  2  5  1  7
8  1  5  1  8  1
9  9  4  3  6  2

## Seleksi Baris dengan Between()
- `between(2,5)` Untuk menseleksi suatu kolom tertentu dengan jangkauan yang ditentukan.
- Secara default sifat method between() ini incusive artinya nilai batasan yang ditentukan akan diikutsertakan.
- Jika nilai Inclusive adalah false makan nilai yang ditentukan tidak diikutsertakan dan sebagai pembatas saja.

In [3]:
df[df['A'].between(2,5)]

   A  B  C  D  E
0  4  8  1  9  3
7  5  2  5  1  7

In [4]:
df[df['A'].between(2,5,inclusive=False)]

   A  B  C  D  E
0  4  8  1  9  3