## Membuat Kategori Baru Berdasarkan Threshold

## Import Modules
- Import modules dan menampilkan versi modules

In [1]:
import pandas as pd
print(pd.__version__)

1.1.3

## Mempersiapkan Data

In [2]:
d = {'hobi':['jogging','mancing','renang',
            'mancing','mancing','baca','baca',
            'mancing','fotografi','mancing','camping']}
df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotografi
9     mancing
10    camping

## Membuat Kategori Baru Berdasarkan Threshold
- `value_counts()` Untuk menampilkan kemunculan baris.

In [3]:
df['hobi'].value_counts()

mancing      5
baca         2
jogging      1
renang       1
fotografi    1
camping      1
Name: hobi, dtype: int64

- `value_counts(normalize=True)` Untuk menampilkan kemunculan baris dan  nilai presentase

In [4]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotografi    0.090909
camping      0.090909
Name: hobi, dtype: float64

- Untuk mengelompokkan hobi yang persentasenya di bawah 10%

In [8]:
treshold = 0.1
hobi_lain = persentase[persentase<treshold].index
hobi_lain

Index(['jogging', 'renang', 'fotografi', 'camping'], dtype='object')

- replace(hobi_lain,'lainnya') untuk mengganti nama hobi yang sudah dikelompokkan ke hobi_lain menjadi lainnya.

In [9]:
df['hobi'] = df['hobi'].replace(hobi_lain,'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [10]:
df['hobi'].value_counts(normalize = True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64