# Konversi Tipe data String ke Numerik pada kolom Data Frame

In [1]:
import pandas as pd #mengimport pandas sebagai np

print(pd.__version__) #menampilkan pandas versi

1.1.3

In [4]:
data = {'col1':['1','2','3','Teks'],
        'col2':['1','2','3','4']} 
# menyipakan data frame dengan dictionary dan list dan disimpan kedalam variabel data

df = pd.DataFrame(data)
#menampilkan frame yang datanya diambil dari var data diatas
df

   col1  col2
0     1     1
1     2     2
2     3     3
3  Teks     4

In [5]:
df.dtypes 
#untuk mengetahui tipe data pada frame

col1    object
col2     int64
dtype: object

## Konversi dengan fungsi astype()

In [15]:
df_x = df.astype({'col2':'int'})
#dikonveri dari data "col2" ke tipe data int dengan menggunakan astype
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  Teks     4

In [16]:
df_x.dtypes #untuk mengetahui tipe data pada frame

col1    object
col2     int32
dtype: object

## Konversi tipe data numerik dengan to_numeric()

In [17]:
df.apply(pd.to_numeric, errors='coerce') 
#fungsi to_numeric untuk mengkonversi semua kedalam tipe data nunmerik dan coerce tersebut berguna untuk
#jika dalam tahap konversi terdapat suatu data yang tidak bisa dikonversi maka data tersebut akan
#menampilkan data NaN

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4