In [35]:
import pandas as pd

print(pd.__version__)

1.1.3

In [36]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()
# membuat data frame yang terdapat missing value dengan menggunakan
#pd.util.testing.makeMissingDataframe()

        index         A         B         C         D
0  zYW4lFGV1m  1.047128  1.893403       NaN       NaN
1  uM4OXi11Fv -0.182275  0.406272  1.724233 -1.428518
2  QIfuXii8C3  0.314445 -2.178033  0.832925 -0.423326
3  BnixzCpzLc  0.097979       NaN  0.251503  0.877556
4  LiSHA9iqOh  0.117403 -0.955335  0.200036 -0.125877

In [37]:
df = df.rename(columns={'index':'Z'}) 
df.head
#menganti nama kolom index menjadi Z

<bound method NDFrame.head of              Z         A         B         C         D
0   zYW4lFGV1m  1.047128  1.893403       NaN       NaN
1   uM4OXi11Fv -0.182275  0.406272  1.724233 -1.428518
2   QIfuXii8C3  0.314445 -2.178033  0.832925 -0.423326
3   BnixzCpzLc  0.097979       NaN  0.251503  0.877556
4   LiSHA9iqOh  0.117403 -0.955335  0.200036 -0.125877
5   sPlz8wp6P8  0.309832  0.045603  0.068178 -0.025586
6   lEnNhaNb76  1.511596  0.494243 -1.375530  1.577448
7   2A1fjEXWFN -0.303567 -0.123791 -0.073770       NaN
8   wy3GoAdoKs -1.735946 -0.440153  1.291635  1.378536
9   hM8j5q4SvT -0.860594  0.436715       NaN  0.645654
10  UgEshpj1NB  0.594688  0.466999  0.084893  2.072179
11  7gvFyHTQpW -0.130401  0.678566 -1.673494 -1.601282
12  VbYcOCkSa9  1.414418  1.025220 -1.431809 -0.247711
13  SYhvW4GDep  2.299361  1.778316 -0.950808  1.284578
14  E6YCjt2dMD  0.016006 -0.323594 -0.115191 -1.480574
15  STNVFjvEaG       NaN  0.639689 -0.044086  0.386133
16  DYi6oyePc5  0.452798  0.022019  1.408131  1.392371
17  2k3JS8QU4r  0.646442  0.576460 -1.404988 -1.365415
18  8gx3oSpm1P -1.101221  0.127566  0.920049  1.094460
19  SgPcQv4N5y -0.275592  2.390324 -0.497156  1.018350
20  rNotypjOCF -0.219483       NaN -0.305486 -1.728401
21  ISw3kEa8Hf  0.698133 -0.771909  1.061569       NaN
22  O5dBHStSYj       NaN -0.455200  1.765146 -1.087445
23  pqqDGev8Jn  0.737710  0.334662 -0.106715  1.051808
24  gxdsX1BN1z -0.045249 -1.115860  0.760881  0.378571
25  VqsXf6EynO -0.360455       NaN -0.907679       NaN
26  7LzzZde350 -0.134222 -1.350573 -0.152427 -0.998561
27  oHKYZj12GI  0.750426 -0.644516 -0.069574       NaN
28  mpC5EYw7u5  0.256337  0.345440 -1.685333  0.472852
29  KNg8vd4MGa  1.724033  0.554259  1.364469  0.116084>

In [38]:
df_backup = df.copy(deep=True) 
#mengcopy data dari tabel di atas

In [39]:
df = df.dropna(axis='columns')
df.head()
#menghapus kolom yang terdapat missing value (Nan)

            Z
0  zYW4lFGV1m
1  uM4OXi11Fv
2  QIfuXii8C3
3  BnixzCpzLc
4  LiSHA9iqOh

In [40]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head
#menghapus baris yang terdapat missing value

<bound method NDFrame.head of              Z         A         B         C         D
1   uM4OXi11Fv -0.182275  0.406272  1.724233 -1.428518
2   QIfuXii8C3  0.314445 -2.178033  0.832925 -0.423326
4   LiSHA9iqOh  0.117403 -0.955335  0.200036 -0.125877
5   sPlz8wp6P8  0.309832  0.045603  0.068178 -0.025586
6   lEnNhaNb76  1.511596  0.494243 -1.375530  1.577448
8   wy3GoAdoKs -1.735946 -0.440153  1.291635  1.378536
10  UgEshpj1NB  0.594688  0.466999  0.084893  2.072179
11  7gvFyHTQpW -0.130401  0.678566 -1.673494 -1.601282
12  VbYcOCkSa9  1.414418  1.025220 -1.431809 -0.247711
13  SYhvW4GDep  2.299361  1.778316 -0.950808  1.284578
14  E6YCjt2dMD  0.016006 -0.323594 -0.115191 -1.480574
16  DYi6oyePc5  0.452798  0.022019  1.408131  1.392371
17  2k3JS8QU4r  0.646442  0.576460 -1.404988 -1.365415
18  8gx3oSpm1P -1.101221  0.127566  0.920049  1.094460
19  SgPcQv4N5y -0.275592  2.390324 -0.497156  1.018350
23  pqqDGev8Jn  0.737710  0.334662 -0.106715  1.051808
24  gxdsX1BN1z -0.045249 -1.115860  0.760881  0.378571
26  7LzzZde350 -0.134222 -1.350573 -0.152427 -0.998561
28  mpC5EYw7u5  0.256337  0.345440 -1.685333  0.472852
29  KNg8vd4MGa  1.724033  0.554259  1.364469  0.116084>

In [41]:
df = df_backup.copy(deep=True)
df.isna().mean()
#untuk menghitung persentase Missing Values

Z    0.000000
A    0.066667
B    0.100000
C    0.066667
D    0.166667
dtype: float64

In [44]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()
#menghapus kolom yang mengandung missing values berdasaran threshold

            Z         A         B         C
0  zYW4lFGV1m  1.047128  1.893403       NaN
1  uM4OXi11Fv -0.182275  0.406272  1.724233
2  QIfuXii8C3  0.314445 -2.178033  0.832925
3  BnixzCpzLc  0.097979       NaN  0.251503
4  LiSHA9iqOh  0.117403 -0.955335  0.200036