# Menghapus Missing Values

In [1]:
import pandas as pd

print(pd.__version__)

1.1.3

## Membuat data

In [2]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()
# membuat data frame yang terdapat missing value dengan menggunakan
#pd.util.testing.makeMissingDataframe()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\__init__.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  72mbOCkvJP -0.202829 -1.567131 -0.072974  1.784102
1  SQeZ23Q1Wt  0.400985  0.111196 -0.218807  1.017636
2  qwvFwc2NGl -0.380450       NaN -1.109497  0.610329
3  MpWcsnQ8f5  0.268287  0.476947 -0.255159  0.281844
4  Ob56SoY8jE -0.402260 -2.284275 -1.149172 -0.387313

## Mengganti nama kolom index menjadi Z

In [3]:
df = df.rename(columns={'index':'Z'}) 
df.head

<bound method NDFrame.head of              Z         A         B         C         D
0   72mbOCkvJP -0.202829 -1.567131 -0.072974  1.784102
1   SQeZ23Q1Wt  0.400985  0.111196 -0.218807  1.017636
2   qwvFwc2NGl -0.380450       NaN -1.109497  0.610329
3   MpWcsnQ8f5  0.268287  0.476947 -0.255159  0.281844
4   Ob56SoY8jE -0.402260 -2.284275 -1.149172 -0.387313
5   mTzNqRNSPh  1.618655 -0.163572  0.923588       NaN
6   pUUHkojlj7  1.709571  0.457297  0.729061  0.948852
7   YHxvoS4foZ -1.447457 -0.978737  1.034791 -0.345154
8   FH7azGFhB8 -0.315063 -0.131406  0.196967 -0.310479
9   nVJ2QYjFYP       NaN  1.242784  0.051500       NaN
10  XW4nVBPxnS       NaN  0.972425  2.913177       NaN
11  g1tPiPV1hB -0.727877  0.836610  1.217932 -0.193927
12  ZIu97xEuN5       NaN  1.597522  0.389000 -0.976861
13  1p0aEtW6v5 -0.323305  1.006640 -0.569122  0.748552
14  yZxtONbVdu  0.735291       NaN -0.615998  0.497945
15  FO29LQm3dK -1.536179 -0.137858 -1.130048 -0.749029
16  bMe7wiY8BA -0.269025 -0.027812 -0.721825 -0.274393
17  2gjYQYGBr6  0.654475 -1.119321  0.376664 -0.200854
18  kTcCciuS31  1.100391 -2.203699  1.067545 -1.212453
19  Jo6H0XnQ6R -0.328724  1.515452  1.741347 -0.406356
20  Kz8eJMwFI2 -0.391958 -0.660331 -0.980226 -0.864132
21  uRESewsuvD  0.997198  1.062853 -0.166966  0.335515
22  DyZdy14C5j  0.792839 -0.685741       NaN -0.511286
23  X1V3w1DSeL -0.437469  0.342153 -0.841485  2.464276
24  cfp7MCSkue -0.397441 -0.040258 -2.750933  0.688216
25  1eiIlqEl8C -0.323888  0.171296       NaN -0.363918
26  yrLEVW4x11 -0.459900 -0.656653  0.905104  0.698061
27  SNaINx7QOJ -0.610175       NaN       NaN  1.050154
28  ZRBEED46EY -1.667893 -0.110940  0.256469 -0.465320
29  6IKLPAo4tf  2.039658 -0.893057  2.017197 -1.685571>

## Mengcopy data dari data di atas

In [4]:
df_backup = df.copy(deep=True)

## Menghapus kolom yang terdapat missing value (Nan)

In [5]:
df = df.dropna(axis='columns')
df.head()

            Z
0  72mbOCkvJP
1  SQeZ23Q1Wt
2  qwvFwc2NGl
3  MpWcsnQ8f5
4  Ob56SoY8jE

## Menghapus baris yang terdapat missing value

In [6]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head

<bound method NDFrame.head of              Z         A         B         C         D
0   72mbOCkvJP -0.202829 -1.567131 -0.072974  1.784102
1   SQeZ23Q1Wt  0.400985  0.111196 -0.218807  1.017636
3   MpWcsnQ8f5  0.268287  0.476947 -0.255159  0.281844
4   Ob56SoY8jE -0.402260 -2.284275 -1.149172 -0.387313
6   pUUHkojlj7  1.709571  0.457297  0.729061  0.948852
7   YHxvoS4foZ -1.447457 -0.978737  1.034791 -0.345154
8   FH7azGFhB8 -0.315063 -0.131406  0.196967 -0.310479
11  g1tPiPV1hB -0.727877  0.836610  1.217932 -0.193927
13  1p0aEtW6v5 -0.323305  1.006640 -0.569122  0.748552
15  FO29LQm3dK -1.536179 -0.137858 -1.130048 -0.749029
16  bMe7wiY8BA -0.269025 -0.027812 -0.721825 -0.274393
17  2gjYQYGBr6  0.654475 -1.119321  0.376664 -0.200854
18  kTcCciuS31  1.100391 -2.203699  1.067545 -1.212453
19  Jo6H0XnQ6R -0.328724  1.515452  1.741347 -0.406356
20  Kz8eJMwFI2 -0.391958 -0.660331 -0.980226 -0.864132
21  uRESewsuvD  0.997198  1.062853 -0.166966  0.335515
23  X1V3w1DSeL -0.437469  0.342153 -0.841485  2.464276
24  cfp7MCSkue -0.397441 -0.040258 -2.750933  0.688216
26  yrLEVW4x11 -0.459900 -0.656653  0.905104  0.698061
28  ZRBEED46EY -1.667893 -0.110940  0.256469 -0.465320
29  6IKLPAo4tf  2.039658 -0.893057  2.017197 -1.685571>

## Menghitung persentase Missing Values

In [7]:
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.0
A    0.1
B    0.1
C    0.1
D    0.1
dtype: float64

## Menghapus kolom yang mengandung missing values berdasaran threshold

In [8]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         A         B         C         D
0  72mbOCkvJP -0.202829 -1.567131 -0.072974  1.784102
1  SQeZ23Q1Wt  0.400985  0.111196 -0.218807  1.017636
2  qwvFwc2NGl -0.380450       NaN -1.109497  0.610329
3  MpWcsnQ8f5  0.268287  0.476947 -0.255159  0.281844
4  Ob56SoY8jE -0.402260 -2.284275 -1.149172 -0.387313