# Prefix dan Suffix Pada Kolom Data Frame

In [2]:
import pandas as pd #mengimport pandas sebagai np
import numpy as np #mengimport numpy sebagai np

print(pd.__version__)  #menampilkan pandas versi
print(np.__version__)  #menampilkan numpy versi

1.1.3
1.19.2

In [3]:
r = 5 #jumlah baris
c = 5 #jumlah colom
cols = tuple('ABCDE') #colom dilabeli dengan "ABCDE" || memanggil fungsi tuple

df = pd.DataFrame(np.random.randint(1, 10, size=(r, c)),
                  columns=cols)
#pd.Dataframe = membuat sebuah frame dengan diisi oleh bilangan int secara random
#dengan jangkauan angka dari 1 sampai 10  lalu size dimensi colom dan barisnya diukur sesuai R dan C
df

   A  B  C  D  E
0  5  4  6  5  5
1  3  4  5  7  1
2  6  8  4  2  2
3  2  3  8  2  4
4  8  3  4  3  8

In [4]:
tuple("ABCDE") #memanggil tuple

('A', 'B', 'C', 'D', 'E')

## Prefix pada kolom

In [5]:
df.add_prefix('kolom_') #menggunakan prefix atau menambahkan sebuah string di bagian depan

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        5        4        6        5        5
1        3        4        5        7        1
2        6        8        4        2        2
3        2        3        8        2        4
4        8        3        4        3        8

## Suffix pada kolom

In [6]:
df.add_suffix('_field') #menambahkan suffix atau menambahkan sebuah string di bagian belakang

   A_field  B_field  C_field  D_field  E_field
0        5        4        6        5        5
1        3        4        5        7        1
2        6        8        4        2        2
3        2        3        8        2        4
4        8        3        4        3        8